.user-profile-index-h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  color: white;
  text-align: center;
}

.user-detail-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #18202f;
    color: white;
}

.user-profile-info {
  padding-top: 108px;
  padding-bottom: 10px;
  position: sticky;
  width:300px;
}

.profile-info-text {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
}

.money-color {
  color: #21ce99;
}

.betting-history-div {
  margin-left: 50px;
  padding-top: 100px;
  overflow-y: scroll;
  height: 660px;
}

.betting-history-div::-webkit-scrollbar { 
  width: 0 !important;
}

.overflow-none-container::-webkit-scrollbar { 
  width: 0 !important;
}

.overflow-none-container {
    height: 507px;
    overflow-y: scroll;
    background-color: white;
    padding: 0px 8px;
    border-bottom: 8px solid white;
    border-top: 8px solid white;
}

.users-betting-history {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 10px;
}

.game-box {
  transition: all 0.2s ease;
  /* cursor: pointer; */
  background-color: #283245;
  margin-bottom: 10px;
  padding: 25px 10px 25px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 3px solid #283245;
}

.game-box:hover {
  border: 3px solid #21ce99;
}

.user-profile-earnings-photo {
  display: block;
  width: 220px;
  height: 220px;
  margin-top: 10px;
  margin-left: 20px;
  z-index: 100;
}

.menu-div {
  display: flex;
  flex-direction: row;
}

.link-to-user-profile {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  width: 100%;
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
}

.user-profile-info-container{
  /* background-color: rgba(40, 50, 69, 0.6);
  padding: 5px;
  border: 5px solid white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* cursor: pointer; */
  background-color: #283245;
  margin-bottom: 10px;
  padding: 25px 10px 25px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 3px solid #283245;
  margin-top: 36px;
}

#back-to-bets-hover:hover{
  color: red;
}

.inline-ele {
  display: inline;
}

.check-win-loss-Pending{
  color: yellow;
  font-weight: 700;
}
.check-win-loss-Won{
  color: #21ce99;
  font-weight: 700;
}
.check-win-loss-Lost{
  color: red;
  font-weight: 700;
}
.check-win-loss-Push{
  color: white;
  font-weight: 700;
}

.update-balance-button{
    text-transform: uppercase;
    color: #fff;
    font-family: "Muli";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    height: 48px;
    width: 100%;
    line-height: 48px;
    border-radius: 24px;
    padding: 0 48px;
    margin-top: 10px;
    background-image: linear-gradient(315deg, #00b7b3, #4ce2a7);
}

.explanation-para{
  font-size: smaller;
}
