.user-profile-index-h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  color: white;
  text-align: center;
}

.user-detail-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #18202f;
    color: white;
}

.user-profile-info {
  padding-top: 108px;
  padding-bottom: 10px;
  position: sticky;
}

.profile-info-text {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
}

.money-color {
  color: #21ce99;
}

.betting-history-div {
  margin-left: 50px;
  padding-top: 100px;
  overflow-y: scroll;
  height: 660px;
}

.betting-history-div::-webkit-scrollbar { 
  width: 0 !important;
}

.overflow-none-container::-webkit-scrollbar { 
  width: 0 !important;
}

.overflow-none-container {
    height: 507px;
    overflow-y: scroll;
    background-color: white;
    padding: 0px 8px;
    border-bottom: 8px solid white;
    border-top: 8px solid white;
}

.users-betting-history {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 10px;
}

.game-box {
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: #283245;
  margin-bottom: 10px;
  padding: 25px 10px 25px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 3px solid #283245;
}

.game-box:hover {
  border: 3px solid #21ce99;
}

.user-profile-earnings-photo {
  display: block;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  z-index: 100;
}

.menu-div {
  display: flex;
  flex-direction: row;
}

.link-to-user-profile {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  width: 100%;
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
}

.user-profile-info-container{
  background-color: rgba(40, 50, 69, 0.6);
  padding: 5px;
  border: 5px solid white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}

#back-to-bets-hover:hover{
  color: red;
}

.inline-ele {
  display: inline;
}