.user-profile-index-h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  color: white;
  text-align: center;
}

.user-detail-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #18202f;
    color: white;
}

.user-profile-info {
  padding-top: 100px;
  padding-bottom: 10px;
}

.profile-info-text {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
}

.money-color {
  color: #21ce99;
}

.betting-history-div {
  margin-left: 50px;
  padding-top: 100px;
}

.users-betting-history {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}

.game-box {
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: #283245;
  margin-top: 10px;
  padding: 25px 10px 25px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}