div.sidebar {
  width: 80%;
}

div.sidebar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s linear;
}

div.sidebar-item-content {
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0.5px;
}

div.sidebar-item-content > span {
  font-size: 12px;
  opacity: 0.75;
  padding-top: 5px;
}