div.sidebar {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 700px;
}

div.sidebar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s linear;
}

div.sidebar-item.selected {
  border-left: 7px solid #00ceb8;
  background: #283245;
}

div.sidebar-item-icon {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  background-size: contain;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

div.sidebar-item-icon.bets {
  background-image: url("../bets/bets_icon.png");
}

div.sidebar-item-content {
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0.5px;
}

div.sidebar-item-content > span {
  font-size: 12px;
  opacity: 0.75;
  padding-top: 5px;
}

div.league-index > h2 {
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
  flex-grow: 1;
  line-height: 18px;
  font-family: 'Muli';
  letter-spacing: 0.23px;
  font-weight: 700;
  margin: 20px;
}

.league-index{
  height: 60%;
}

.league-list{
  height: 100%;
}

.side-leagues-list{
  height: 100%;
}

.league-list-container{
  overflow-y: scroll;
  height: 90%;
}

body{
  overflow-x: hidden;
}

.sidebar-item:hover{
   background: #283245;
}